{{- if and
      (not (empty (findExecutable "chezmoi"
        (joinPath (env "HOME") ".local" "bin"))))
      (not (empty (findExecutable "chezmoi" (list
        "/opt/homebrew/bin"
        (joinPath (env "HOME") ".linuxbrew" "bin")
        "/home/linuxbrew/.linuxbrew/bin"
        "/usr/local/bin")))) -}}

#!/bin/bash

set -eufo pipefail

rm -f $HOME/.local/bin/chezmoi &> /dev/null
if (( "$?" == 0 )); then
    echo "Removal of temporary chezmoi was successful."
else
    echo "Removal of temporary chezmoi was unsuccessful."
fi
{{  end -}}
