#!/bin/bash

# NOTE: The purpose of this script is to install any applicable packages via
# the "apt" package manager. This script is only ran if all of these conditions
# are met: the host OS is linux, the current user is the designated admin, and
# the "apt-get" command is found (in the current user's search paths). The
# script will run initially once, to use "apt-get" to install the specified
# list of package names (hard-coded here). It will also run whenever this
# script is modified.

# [[- if not (and .flags.isLinuxOS .flags.isAdminUser) -]]
# [[-   abortEmpty -]]
# [[- end -]]

# [[- if not (lookPath "apt_get") -]]
# [[-   abortEmpty -]]
# [[- end -]]

set -eufo pipefail

if ! command -v apt-get &> /dev/null; then
    echo "Unable to find the 'apt-get' command. Aborting."
    exit 1
fi

sudo apt-get update -y

# [[- $packages := list -]]
# [[- $packages = mustAppend $packages "build-essential" -]]
# [[- $packages = mustAppend $packages "curl" -]]
# [[- $packages = mustAppend $packages "git" -]]

# [[- $packages = sortAlpha $packages | mustUniq  ]]

# Packages:
# [[  join "\n" $packages | comment "#   "  ]]

# TODO: Install listed packages via apt-get.

# chezmoi:template:left-delimiter="# [[" right-delimiter=]]
# vim:set filetype=bash:
