#!/bin/bash

# NOTE: The purpose of this script is to update an fish plugins managed by the
# "fisher" utility. This script is only ran if all of these conditions are met:
# the current user is flagged as the "personal user", and the fish shell is
# found (in the current user's search paths). The script will run initially
# once, to update any installed fish plugins with updates. It will also run
# whenever this script is modified, whenever the "fish_plugins" file is
# modified, and also every week.

# [[- if not .flags.isPersonalUser -]]
# [[-   returnEmpty -]]
# [[- end -]]

# [[- if not (lookPath "fish") -]]
# [[-   returnEmpty -]]
# [[- end -]]

# [[- $configDir := joinPath .chezmoi.homeDir ".config" "fish" -]]
# [[- $fisher := joinPath $configDir "functions" "fisher.fish" -]]
# [[- $pluginsFile := joinPath $configDir "fish_plugins"  ]]

set -eufo pipefail

fish -c "source # [[ $fisher ]]; fisher update"

# [[  if not (empty (stat $pluginsFile)) -]]
# fish_plugins:# [[ include $pluginsFile | sha256sum ]]
# [[- end  ]]
# week_num:# [[ output "date" "+%V" -]]
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]
# vim:set filetype=bash:
