#!/bin/bash

# NOTE: The purpose of this script is to install any missing dependencies on
# linux hosts. This script is only ran if all of these conditions are met: the
# host OS is linux, the current user is the designated admin, and any of the
# list of associated commands are missing (cannot be found on the current
# path). The script will update the package manager, do a proper check to see
# if each package is installed, and if not, install that missing package.

# [[- if not (and .flags.isLinuxOS .flags.isAdminUser) -]]
# [[-   abortEmpty -]]
# [[- end -]]

# [[- $commands := list "curl" "gcc" "git" "make" -]]
# [[- if includeTemplate "are_all_commands_found" $commands -]]
# [[-   abortEmpty -]]
# [[- end -]]

set -eufo pipefail

if ! command -v apt-get &> /dev/null; then
    echo "Unable to find the 'apt-get' command. Aborting."
    exit 1
fi

sudo apt-get update -y && sudo apt-get dist-upgrade -y

if ! dpkg -l build-essential &> /dev/null; then
    if sudo apt-get install -y build-essential; then
        echo "Install of build-essential was successful."
    else
        echo "Install of build-essential was unsuccessful."
    fi
fi

if ! dpkg -l curl &> /dev/null; then
    if sudo apt-get install -y curl; then
        echo "Install of curl was successful."
    else
        echo "Install of curl was unsuccessful."
    fi
fi

if ! dpkg -l git &> /dev/null; then
    if sudo apt-get install -y git; then
        echo "Install of git was successful."
    else
        echo "Install of git was unsuccessful."
    fi
fi

# chezmoi:template:left-delimiter="# [[" right-delimiter=]]
# vim:set filetype=bash:
