{{- $supportScriptsDir := joinPath .chezmoi.sourceDir ".support" "scripts" -}}
{{- $configDir := .chezmoi.configFile | dir -}}
{{- $identityFile := joinPath $configDir "chezmoi.key" -}}
{{- $hasIdentityFile := not (empty (stat $identityFile)) -}}
{{- $publicKey := "" -}}
{{- if $hasIdentityFile -}}
{{-   $publicKey = output (joinPath $supportScriptsDir "extract-age-public-key.bash") -}}
{{- end -}}
{{- $hasPublicKey := not (empty $publicKey) -}}

{{- if and $hasIdentityFile $hasPublicKey -}}
encryption = "age"
{{  end -}}
use-builtin-age = true
use-builtin-git = true

{{- if and $hasIdentityFile $hasPublicKey  }}

[age]
identity = "{{ $identityFile }}"
recipient = "{{ $publicKey }}"
{{- end  }}

[hooks.init.pre]
command = "{{ joinPath $supportScriptsDir "chezmoi-init-pre-hook.bash" }}"

[update]
apply = false

[warnings]
configFileTemplateHasChanged = false
