{{- $supportDir := joinPath .chezmoi.sourceDir ".support" -}}
{{- $encrDir := joinPath $supportDir "encrypted" -}}
{{- $scriptsDir := joinPath $supportDir "scripts" -}}
{{- $configDir := dir .chezmoi.configFile -}}
{{- $identityFile := joinPath $configDir "chezmoi.key" -}}
{{- $hasIdentityFile := not (empty (stat $identityFile)) -}}
{{- $publicKey := "" -}}
{{- if $hasIdentityFile -}}
{{-   $publicKey = output
        (joinPath $scriptsDir "extract-age-public-key") -}}
{{- end -}}
{{- $hasPublicKey := not (empty $publicKey) -}}
{{- $configData := "" -}}
{{- if includeTemplate "is_encryption_enabled" . -}}
{{-   $configData = joinPath $encrDir "config_data.toml.age" | include | decrypt
        | fromToml -}}
{{- end -}}
{{- $hasConfigData := not (empty $configData) -}}
{{- $thisHost := "" -}}
{{- if $hasConfigData -}}
{{-   $thisHost = get $configData.hosts .chezmoi.hostname -}}
{{- end -}}

{{- if and $hasIdentityFile $hasPublicKey -}}
encryption = "age"
{{  end -}}
use-builtin-age = true
use-builtin-git = true

{{- if and $hasIdentityFile $hasPublicKey  }}

[age]
identity = "{{ $identityFile }}"
recipient = "{{ $publicKey }}"
{{- end  }}

[data.flags]
{{- if $hasConfigData  }}
hasConfigData = true
isAdminUser = {{ eq $thisHost.users.admin .chezmoi.username }}
isHeadless = {{ $thisHost.isHeadless }}
{{- end  }}
isLinuxOS = {{ eq .chezmoi.os "linux" }}
isMacOS = {{ eq .chezmoi.os "darwin" }}
{{- if $hasConfigData  }}
isOtherHost = {{ not $thisHost.isPersonal }}
isOtherUser = {{ and
  (not (eq $thisHost.users.admin .chezmoi.username))
  (not (eq $thisHost.users.personal .chezmoi.username)) }}
isPersonalHost = {{ $thisHost.isPersonal }}
isPersonalUser = {{ eq $thisHost.users.personal .chezmoi.username }}
isVirtual = {{ $thisHost.isVirtual }}
{{- end  }}
isWindowsOS = {{ eq .chezmoi.os "windows" }}

{{- if and $hasConfigData $thisHost.isPersonal
      (eq $thisHost.users.personal .chezmoi.username)  }}

[data.git]
email = "{{ $configData.git.email }}"
name = "{{ $configData.git.name }}"
{{- end  }}

[hooks.init.pre]
command = "{{ joinPath $scriptsDir "restore-age-identity-file" }}"

[update]
apply = false

[warnings]
configFileTemplateHasChanged = false
