{{- if and
      (hasKey .flags "isPersonalHost")
      .flags.isPersonalHost
      (hasKey .flags "isPersonalUser")
      .flags.isPersonalUser -}}
Include ~/.orbstack/ssh/config

{{  end -}}

Match host github.com
    RequestTTY no
    User git

{{- if and
      (hasKey .flags "isPersonalHost")
      .flags.isPersonalHost
      (hasKey .flags "isPersonalUser")
      .flags.isPersonalUser  }}

Match host *.local
    ForwardAgent yes

Match all
    AddKeysToAgent yes
{{- if and
      (hasKey .flags "isMacOS")
      .flags.isMacOS  }}
    UseKeychain yes
{{- end  }}
{{  end -}}
