{{- $hasRustup := not (empty (includeTemplate "is_command_installed"
      "rustup")) -}}

# Exit unless interactive
[[ -o interactive ]] || return

# Setup user environment
export EDITOR="vim"
export PAGER="less -R"
export TERM="xterm-256color"
export VISUAL="$EDITOR"

# Setup misc environment
{{- if and $hasRustup .flags.isPersonalHost .flags.isPersonalUser  }}
export CARGO_HOME="$XDG_DATA_HOME/cargo"
{{- end  }}
{{- if and (includeTemplate "is_command_installed" "ghcup")
      .flags.isPersonalHost .flags.isPersonalUser  }}
export GHCUP_USE_XDG_DIRS="true"
{{- end  }}
export HISTFILE="$XDG_STATE_HOME/zsh/history"
export LESSHISTFILE="$XDG_STATE_HOME/less/history"
{{- if and $hasRustup .flags.isPersonalHost .flags.isPersonalUser  }}
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
{{- end  }}
{{- if and (includeTemplate "is_command_installed" "sqlite3")
      .flags.isPersonalHost .flags.isPersonalUser  }}
export SQLITE_HISTORY="$XDG_STATE_HOME/sqlite/history"
{{- end  }}

{{- if and (includeTemplate "is_command_installed" "direnv")
      .flags.isPersonalHost .flags.isPersonalUser  }}

# Wire-up direnv
if command -v direnv >/dev/null 2>&1; then
    eval "$(direnv hook zsh)"
fi
{{- end  }}

{{- if and (includeTemplate "is_command_installed" "fzf")
      .flags.isPersonalUser  }}

# Wire-up fzf
if command -v fzf >/dev/null 2>&1; then
    eval "$(fzf --zsh)"
fi
{{- end  }}

{{- if and (includeTemplate "is_command_installed" "zoxide")
      .flags.isPersonalUser  }}

# Wire-up zoxide
if command -v zoxide >/dev/null 2>&1; then
    eval "$(zoxide init zsh)"
fi
{{- end  }}
